html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
}

.img_wrapper {
    height: 100%;
    width: 100%;
    background-color: #444;
    display: grid;
    place-items: center;
}

img {
    max-height: 800px;
    max-width: 800px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

p {
    margin: 0;
    padding: 10px;
    color: #fff;
}

.controller {
    width: 250px;
    height: 40px;
    background-color: #000;
    opacity: 0.3;
    border-radius: 20px;
    transition-duration: 200ms;

    position: fixed;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.controller:hover {
    opacity: 1;
}

.frameCount {
    display: flex;
}

button {
    cursor: pointer;
}

.inputWrapper {
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #dc7100;
}

textarea, input {
    outline: none;
    border: none;
    font-size: 10pt;
    font-family: monospace;
    background-color: #222;
    padding: 10px;
    color: #fff;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right:  10px;
}