:root {
    --black-900: #000000;
    --black-800: #111111;
    --black-700: #222222;
    --black-600: #333333;
    --black-500: #444444;
    --black-400: #555555;
    --black-300: #666666;
    --black-200: #777777;
    --black-100: #888888;
    --black-50: #aaaaaa;
    --black-0: #ffffff;
    --green: #00ff00;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--black-500);
}
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: var(--black-300);
}

body {
    position: relative;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
    gap: 10px;
    background-color: var(--black-600);
}

body > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imageBox > p,
label,
input,
button,
textarea {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 10pt;
    color: var(--black-0);
}

input {
    text-align: center;
    outline: none;
    border: none;
    width: 2ch;
    background-color: transparent;
}

label {
    text-align: center;
    width: 50px;
}

button {
    cursor: pointer;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background-color: var(--black-500);
    color: var(--black-0);
    padding: 5px 10px;
    font-size: 12pt;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--black-300);
}

button:disabled {
    background-color: var(--black-300);
    color: var(--black-50);
}

.imageBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: var(--black-0) 1px solid;
}

.imageBox > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.imageBox > img {
    max-width: 500px;
    max-height: 500px;
}

.controllerBox,
.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.fpsFormWrapper,
.frameBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fpsFormWrapper > input {
    border-bottom: var(--black-200) 1px solid;
}

.fpsFormWrapper > input:disabled {
    border-bottom: none;
}

.inputContainer {
    position: relative;
    height: 100%;
    width: 25%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 10px;
    box-sizing: border-box;
}

.checkboxWrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.checkboxWrapper > input {
    margin: 0;
}

.checkboxWrapper > label {
    width: auto;
}

textarea {
    width: 100%;
    height: 100%;
    background-color: var(--black-700);
    color: var(--black-0);
    border: none;
    outline: none;
    resize: none;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .controllerBox {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .inputContainer {
        width: 100%;
        padding: 0;
    }

    .inputWrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
